*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

html, body {
	width: 100vw; 
	min-height: 100vh;
}

body {
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
  font-weight: normal;
	line-height: 1.5;
}

img {
	max-width: 100%;
	height: auto;
}